1. write a code to create a string with your name and print it.

In [ ]:
name = "ranjan kumar"
print(name)

ranjan kumar

2. write a code to find a length of a string "hello world"

In [ ]:
str = "Hello world"
print(len(str))

11

3. write a code to slice three character from the string "python programing"

In [ ]:
str = "python programing"
print(str[0:3])

pyt

4.write a code to convert a string "hello" to uppercase

In [ ]:
str = "hello"
print(str.upper())

HELLO

5. write a code to to replace the word"apple" with "orange" in the string "I like apple"

In [ ]:
str = "I like apple"
print(str.replace("apple","orange"))

I like orange

6. write a code to create a list with number 1 to 5 and print it.

In [ ]:
list =[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

7. write a code to append the number 10 to the list [1,2,3,4].

In [ ]:
list = [1,2,3,4]
print(list)
list.append(10)
print(list)

[1, 2, 3, 4]
[1, 2, 3, 4, 10]

8. write a code to remove the number 3 from the list [1,2,3,4,5].

In [ ]:
list = [1,2,3,4,5]
print(list)
list.remove(3)
print(list)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

9. write a code to access second element in the list ['a','b','c','d']

In [ ]:
list =['a','b','c','d']
print(list[1])

b

10. write a code to reverse the list [10,20,30,40,50,]

In [ ]:
list = [10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

11. write a code to create a tuple with the element 100 ,200,300 and print it.

In [ ]:
tuple=[100,200,300]
print(tuple)

[100, 200, 300]

12. write a code to access second to last element in the tuple ('red',green,blue',yellow'.

In [ ]:
tuple =['red','green','blue','yellow']
print(tuple[-2])

blue

13. write a code to find minimum number of the tuple(10,20,5,15).

In [ ]:
tuple =[10,20,5,15]
print(min(tuple))

5

14. write a code to find index of the element "cat" in the tuple('dog','cat','rabbit').

In [ ]:
tuple =['dog','cat','rabbit']
print(tuple.index('cat'))

1

15. write a code to create a tuple containing three different fruits and if 'kiwi' is in it.

In [ ]:
tuple = ['apple','banana','kiwi']
if 'kiwi' in tuple:
  print("kiwi is in the tuple")
else:
  print("kiwi is not in the tuple")

kiwi is in the tuple

16. writre a code to create a set with the element 'a','b','c' and print it.

In [ ]:
set_a= ['a','b','c']
print(set_a)

['a', 'b', 'c']

17. write a code to  clear all the element in the set {1,2,3,4,5} .

In [ ]:
set_a = {1, 2, 3, 4, 5}
print(set_a)
print("clear the set")
set_a.clear()
set_a

{1, 2, 3, 4, 5}
clear the set

set()

18. write a code to remove the element 4 from the set{1,2,3,4}.

In [ ]:
set_a= {1,2,3,4}
print(set_a)
set_a.remove(4)
print(set_a)

{1, 2, 3, 4}
{1, 2, 3}

19. write the code to find the union of the two sets{1,2,3} and {3,4,5}

In [ ]:
set_a={1,2,3}
set_b={3,4,5}
print(set_a.union(set_b))

{1, 2, 3, 4, 5}

20. write the code to find  intersection of two sets {1,2,3} and {2,3,4}.

In [ ]:
set_a={1,2,3}
set_b={2,3,4}
print(set_a.intersection(set_b))

{2, 3}

21. write a code to create dictionary with the keys 'name','age',and 'city',and print it

In [ ]:
my_dict ={}
my_dict['name'] = input("Enter your name: ")
my_dict['age'] = int(input("Enter your age: "))
my_dict['city'] = input("Enter your city: ")
my_dict

Enter your name: ranjan
Enter your age: 23
Enter your city: haryana

{'name': 'ranjan', 'age': 23, 'city': 'haryana'}

22. write a code to add a new key value pair "country","usa" to the dictinary {'name':'alice','age':30}.

In [ ]:
my_dict = {'name':'alice','age':30}
my_dict['country'] = 'usa'
my_dict

{'name': 'alice', 'age': 30, 'country': 'usa'}

23. write a codeto access value  associated with the key "name" in the dictionary{'name':'alice','age':30}.

In [ ]:
my_dict ={'name':'alice','age':30}
print(my_dict['name'])

alice

24. write a code to remove the age in the dictionary{'name':'Bob','age':22,'city':'new york'}.

In [ ]:
my_dict={'name':'Bob','age':22,'city':'new york'}
del my_dict['age']
my_dict

{'name': 'Bob', 'city': 'new york'}

25. write a code to check if the key "city" exists in the dictionary {'name':'alice','city':'paris'}.

In [ ]:
my_dict = {'name':'alice','city':'paris'}
if 'city' in my_dict:
  print("Key 'city' exists in the dictionary")
else:
  print("Key 'city' does not exist in the dictionary")

Key 'city' exists in the dictionary

26. write a code to create list , tuple and dictionary and print them all

In [ ]:
my_list={1,2,3,4,5}
print(my_list)

my_tuple=(1,2,3,4,5)
print(my_tuple)

my_dict={'name':'ranjan','age':23}
print(my_dict)

{1, 2, 3, 4, 5}
(1, 2, 3, 4, 5)
{'name': 'ranjan', 'age': 23}

27. write a code to create a list of 5 random numbers between 1 and 100,sort it in ascending order and print the result (replaced).

In [ ]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
random_numbers

[13, 25, 71, 83, 98]

28. write a code to create a list with the string and print the element at the third index.

In [ ]:
list = ["ranjan","rahul","nikhil","arya","naveen"]
print(list[3])

arya

29. write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = dict1.copy()
combined_dict.update(dict2)

combined_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. write a code to convert a list of strings into a set

In [ ]:
string_list = ["apple", "banana", "cherry", "apple", "banana"]

string_set = set(string_list)

string_set

{'apple', 'banana', 'cherry'}